<% @search.each do |flight| %>
  
  <td><%= radio_button_tag :flight_id, flight.id %></td>
  <td><%= flight.id %></td>
  <td><%= flight.from_airport.code %></td>
  <td><%= flight.to_airport.code %></td>
    
<% end %>